body,
html {
	margin:0;
	padding:0;
	color:#000;
	background:#fff;
	font:12px Verdana, Arial, Helvetica, sans-serif;
}

table.buku {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #002;
	/*width: 280px;*/
	background-color: #cc6;
	border: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
}

table.buku td {
	background-color: #cca;
	color: #000;
	padding: 4px;
	/*text-align: left;*/
	border: 1px #fff solid;
}

table.buku td.hed {
	background-color: #ccc;
	color: #fff;
	padding: 4px;
	text-align: center;
	border-bottom: 2px #fff solid;
	font-size: 14px;
	font-weight: bold;
}